*{
    box-sizing: border-box;
}
h1{
    color: white;
    border-color: yellow;
}

.strokeme {
    font-size:35px;
    color: white;
    text-shadow: -1px -1px 0 rgb(192, 44, 44), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

body{
    background-image: url('https://images.unsplash.com/photo-1625179678958-f0d919e32d1c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYyNzAzMDk1MA&ixlib=rb-1.2.1&q=80&w=1080');
    background-position: center;
    background-repeat: no-repeat;
    

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

@media(max-width:800px) {
    body{
        flex-direction: column;
    }
}

.empty{
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background-color:white;
}

.hold{
    border: solid 5px white;
}

.hovered{
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

.fill{
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}